**/*.png
**/*.svg
*.yaml
CODEOWNERS
.dockerignore
Dockerfile.ui-test
AUTHORS.txt
lib/
es/
dist/
build/
public/
coverage/
CNAME
LICENSE
yarn.lock
netlify.toml
yarn-error.log
.DS_Store
.editorconfig
.eslintignore
.history
.bablerc
.eslintrc.json
**/*.yml
**/.gitkeep
.stylelintignore
.temp-cache/
analyzer/
node_modules/
pnpm-lock.yaml
.env*
.husky/
.eslintcache
.gitignore
.prettierignore
.swc/
.versionrc
cypress/videos/
.npmrc
**/assets
