body,
html {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #20232a;
}

.title {
  margin-top: 80px;
  color: white;
  text-align: center;
}

.name {
  margin-top: 20px;
  font-size: 60px;
  transition: color 500ms;
}

.icon {
  display: block;
  width: 20vw;
  margin: 0 auto;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  margin: 30px auto 0;
}

.title-red {
  color: red;
}
