body,
html {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #20232a;
}

.title {
  padding-top: 80px;
  color: white;
  text-align: center;
}

.icon {
  width: 40vw;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  margin: 30px auto 0;
}
